.footer__text {
    max-width: 600px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #000
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .footer__text {
        max-width: 350px
    }
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .footer__text {
        max-width: 300px
    }
}

@media screen and (min-width: 320px) and (max-width: 450px) {
    .footer__text {
        max-width: 250px
    }
}

@media screen and (min-width: 320px) and (max-width: 350px) {
    .footer__text {
        max-width: 200px
    }
}
