@import url(./blocks/body/body.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__opened/popup__opened.css);
@import url(./blocks/footer/__img/audio__img.css);
@import url(./blocks/playList/playList.css);
@import url(./blocks/playList/__title/playList__title.css);
@import url(./blocks/playList/__artistName/playList__artistName.css);
@import url(./blocks/playList/__box/playList__box.css);
@import url(./blocks/playList/__button/playList__button.css);
@import url(./blocks/playList/__button-music/playList__button-music.css);
@import url(./blocks/playList/__music-box/playList__music-box.css);
@import url(./blocks/footer/__input/audio__input.css);
@import url(./blocks/canvas/canvas.css);
@import url(./blocks/canvas/myCanvas/myCanvas.css);
