@media screen and (min-width: 320px) and (max-width: 1245px) {
    .playList__name-box {
        width: 375px;
    }
}

@media screen and (min-width: 320px) and (max-width: 840px) {
    .playList__name-box {
        width: 300px;
    }
}

@media screen and (min-width: 320px) and (max-width: 635px) {
    .playList__name-box {
        width: 250px;
    }
}

@media screen and (min-width: 320px) and (max-width: 555px) {
    .playList__name-box {
        width: 200px;
    }
}

@media screen and (min-width: 320px) and (max-width: 465px) {
    .playList__name-box {
        width: 150px;
    }
}

@media screen and (min-width: 320px) and (max-width: 370px) {
    .playList__name-box {
        width: 115px;
    }
}
